h1 {
    width: fit-content;
    margin: 10px auto;
}

table{
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 120px;
    height: 120px;
}

td:hover {
    background-color: rgba(213, 209, 209, 0.2);
}

.border-left {
    border-left: 1px solid black;
}

.border-bottom{
    border-bottom: 1px solid black;
}

.border-top {
    border-top: 1px solid black;
}

.border-right {
    border-right: 1px solid black;
}