extends layout

block content
  include header.pug
  include banner.pug
  section#main(class="container")
    section(class="box special")
        header( class="major")
        h2 Introducing the ultimate mobile app <br/> for doing stuff with your phone
        p Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare <br/> adipiscing nunc adipiscing. Condimentum turpis massa.
    span(class="image featured"): img(src="images/pic01.jpg" alt="")
