extends layout

block content
    if err.bad 
        div.error=err.msg
    form(method="post")
        label(for="user") User
        input#user(type="text", placeholder="User", name="user", required)
        label(for="password") Password
        input#user(type="text", placeholder="password", name="password", required)
        input(type="submit", value="Log In")
