@import './variables.css';

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

h1 {
  color: var(--text-color);
  text-align: center;
  margin: var(--spacing-large) 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--spacing-large);
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
