doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=no")
    link(rel='stylesheet', href='/assets/css/main.css')
  body(class="is-preload")
    div#wrapper
      div#main
        div.inner
          block main 
      div#sidebar
        div.inner
          block sidebar
   
    script(src="/assets/js/jquery.min.js")
    script(src="/assets/js/browser.min.js")
    script(src="/assets/js/breakpoints.min.js")
    script(src="/assets/js/util.js")
    script(src="/assets/js/main.js")
