block nav 
    nav 
        ul
            li#brand 
                a(href="/")
                    h1 Naldana
            if (!user)
                li
                    a(href='/login') Login
                li
                    a(href='/register') Register
            if (user)
                li
                    a Welcome #{user.username}
                li
                    a(href='/logout') Logout