block nav 
    nav 
        ul
        if (!user)
            li
                a(href='/login') Login
            li
                a(href='/register') Register
        if (user)
            li
                a Welcome #{user.username}
            li
                a(href='/logout') Logout