section#banner
    .content
        header
            h1= title
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut et ipsum cumque dolor labore molestias perferendis sint officiis accusantium aut, unde provident architecto nostrum hic ratione molestiae harum corrupti expedita.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, fugiat! Ipsum, quis iure esse sequi quisquam illo sint? Veniam, itaque aperiam magnam aut tempora laborum ratione delectus dolorum ipsa praesentium.
        ul.actions  
            li
                a.button.big(href="")
                    Learn More
    span.image.object
        img(src="images/pic10.jpg", alt="")