section
    header.major 
        h2 Lorem, ipsum.
    .features
        article
            span.icon.fa-diamond
            .content
                h3 Lorem, ipsum dolor.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, nostrum.
        article
            span.icon.fa-diamond
            .content
                h3 Lorem, ipsum dolor.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, nostrum.
        article
            span.icon.fa-diamond
            .content
                h3 Lorem, ipsum dolor.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, nostrum.
        article
            span.icon.fa-diamond
            .content
                h3 Lorem, ipsum dolor.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, nostrum.