section
    header.major
        h2 Lorem ipsum dolor sit.
    .posts
        article
            a.image(href="#")
                img(src="images/pic01.jpg", alt="")
            h3 Lorem ipsum dolor sit.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et enim ipsum molestias accusantium sunt soluta maiores laudantium, eaque explicabo esse.
            ul.actions
                li
                    a.button(href="#") More
        article
            a.image(href="#")
                img(src="images/pic01.jpg", alt="")
            h3 Lorem ipsum dolor sit.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et enim ipsum molestias accusantium sunt soluta maiores laudantium, eaque explicabo esse.
            ul.actions
                li
                    a.button(href="#") More
        article
            a.image(href="#")
                img(src="images/pic01.jpg", alt="")
            h3 Lorem ipsum dolor sit.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et enim ipsum molestias accusantium sunt soluta maiores laudantium, eaque explicabo esse.
            ul.actions
                li
                    a.button(href="#") More
        article
            a.image(href="#")
                img(src="images/pic01.jpg", alt="")
            h3 Lorem ipsum dolor sit.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et enim ipsum molestias accusantium sunt soluta maiores laudantium, eaque explicabo esse.
            ul.actions
                li
                    a.button(href="#") More