:root {
    box-sizing: border-box;
}

*,::before,::after{
    box-sizing: inherit;
}

.login label , .login input{
    display: block;
    width: 100%;
    font-size: 1.2em;
}
.login label + input {
    margin-top: 0.5em;
}
.login label{
    text-transform: capitalize;
}

.login input + label, .login input + input {
    margin-top: 1em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.login input{
    border: 1px solid black;
    padding: 0.75em;
    border-radius: 2em;

}

.login input::placeholder {
    text-transform: capitalize;
}

.login input[type="submit"]{
    background-color: rgb(255, 166, 0);
    border-color: rgb(255, 166, 0);
    color: white;
}