section
    header.major
        h2 Lorem, ipsum.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, ut.
    ul.contact
        li.fa-envelope-o
            a(href="#") corre@domain.com
        li.fa-phone (000) 000-000
        li.fa-home directions 