nav#menu
    header.major
        h2 Menu
    ul
        li
            a(href="#") Lorem, ipsum.
        li
            a(href="#") Voluptatibus, magni!
        li
            span.opener Submenu
            ul
                li
                    a(href="#") opiton1
                li
                    a(href="#") opiton2
                li
                    a(href="#") opiton3
                li
                    a(href="#") opiton4
        li
            a(href="#") At, facere!
        li
            a(href="#") Aut, consequatur?
        li
            span.opener Submenu
            ul
                li
                    a(href="#") opiton1
                li
                    a(href="#") opiton2
                li
                    a(href="#") opiton3
                li
                    a(href="#") opiton4
