nav#menu
    header.major
        h2 Menu
    ul
        each val in main
            if (val.options.length == 0)
                li
                    a(href=val.href)=val.name
            if (val.options.length > 0 )
                li
                    span.opener= val.name
                    ul
                        each subVal in val.options
                            li
                                a(href=subVal.href)= subVal.name
