section
    header.major
        h2 Lorem, ipsum.
    .mini-posts
        article 
            a.image(href="#")
                img(src="images/pic07.jpg", alt="")
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quidem alias nemo.
        article 
            a.image(href="#")
                img(src="images/pic07.jpg", alt="")
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quidem alias nemo.
        article 
            a.image(href="#")
                img(src="images/pic07.jpg", alt="")
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quidem alias nemo.
        ul.actions
            li
                a(href="#" class="button") More