body {
  /* background-color: lightpink; /* Por Valor Nombre */
  /* background-color: #ff0000; /* Por Valor Hexadecimal */
  /* background-color: rgb(255,255,0); /* Por Valor RGB */
  /* background-color: hsl(0, 63%, 76%); /* Por Nombre */
  /* background-image: url("./img/tree_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */

  /* Shorthand */
  background: rgba(255, 255, 255, 0.3) url('./img/tree_background.jpg')
    no-repeat center fixed;
  background-size: cover;
  background-blend-mode: overlay;
}

h1 {
  background-color: green;
  opacity: 0.5;
}

/*p {
   background-color: lightgray;
} */

.transparent {
  background-color: rgba(0, 128, 0, 0.3);
}
