html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.card-img,
.card-overlay,
.hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

:root {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #262626;
}
body {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  body {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1580));
  }
}
@media screen and (min-width: 1900px) {
  body {
    font-size: 24px;
  }
}

.navbar {
  position: relative;
  z-index: 200;
}
.navbar-navigation {
  display: flex;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  left: -50vw;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
@media (max-width: 900px) {
  .navbar-navigation-left {
    display: none;
  }
}
.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}
.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}
.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #1f1d1d;
  position: fixed;
  right: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
@media (max-width: 900px) {
  .navbar-navigation-right {
    width: 100vw;
    right: -100vw;
  }
}
.navbar-navigation .nav-list-item {
  list-style-type: none;
}
.navbar-navigation .nav-list-link {
  font-family: Nunito, sans-serif;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 20px;
  transition: all 0.5s;
}
@media (max-width: 1000px) {
  .navbar-navigation .nav-list-link {
    font-size: 30px;
  }
}
.navbar-navigation .nav-list-link:hover {
  color: #d3ab55;
  letter-spacing: 4px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url('../images/bg.jpeg') center no-repeat;
  background-size: cover;
}
.header .brand {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: flex;
  align-items: center;
}
.header-banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-us {
  height: 90vh;
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .about-us {
    min-height: 70vh;
    height: auto;
    padding: 1rem 0;
  }
}
.about-us-left {
  width: 40%;
  position: relative;
  left: -200px;
}
@media (max-width: 1300px) {
  .about-us-left {
    left: -150px;
  }
}
@media (max-width: 800px) {
  .about-us-left {
    display: none;
  }
}
.about-us-left img {
  width: 100%;
  opacity: 0.7;
}
.about-us-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}
@media (max-width: 1300px) {
  .about-us-right {
    padding: 0 50px;
  }
}
@media (max-width: 800px) {
  .about-us-right {
    width: 100%;
  }
}
.about-us-right .starts {
  margin: 30px 0;
}
@media (max-width: 1000px) {
  .about-us-right .starts {
    margin: 15px 0;
  }
}
.about-us-right .star {
  font-size: 15px;
  color: #d3ab55;
  margin-left: 10px;
}
@media (max-width: 1000px) {
  .about-us-right .star {
    margin: 12px 0;
  }
}
.about-us-right .description {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  color: #bbb;
  text-align: justify;
}
.about-us-right .description::first-letter {
  padding-left: 1rem;
}
@media (max-width: 1600px) {
  .about-us-right .description {
    font-size: 18px;
  }
}
@media (max-width: 1000px) {
  .about-us-right .description {
    font-size: 14px;
  }
}

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.footer .social-media {
  display: flex;
  width: 300px;
  justify-content: space-around;
  margin-bottom: 70px;
}
.footer .social-media-item {
  list-style: none;
}
.footer .social-media-link {
  text-decoration: none;
  font-size: 50px;
  color: #bbb;
  transition: color 0.7s;
}
.footer .social-media-link:hover {
  color: #d3ab55;
}
@media (max-width: 1000px) {
  .footer .social-media-link {
    font-size: 35px;
  }
}
.footer-copyright-paragraph {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}
@media (max-width: 800px) {
  .footer-copyright-paragraph {
    width: 70%;
    margin: auto;
  }
}

.logo {
  width: 90px;
  height: 90px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .logo {
    width: 70px;
    height: 70px;
  }
}
.logo img {
  width: 100%;
  height: 100%;
}

.main-name {
  font-family: Nunito, sans-serif;
  font-size: 40px;
  line-height: 1.5;
  color: #bbb;
  white-space: nowrap;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bolder;
}
@media (max-width: 1000px) {
  .main-name {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  .main-name {
    font-size: 20px;
  }
}

.sub-name {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .sub-name {
    font-size: 12px;
  }
}

.main-heading {
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 1600px) {
  .main-heading {
    font-size: 80px;
  }
}
@media (max-width: 1000px) {
  .main-heading {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .main-heading {
    font-size: 50px;
    margin-bottom: 15px;
  }
}

.sub-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 1600px) {
  .sub-heading {
    font-size: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1300px) {
  .sub-heading {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .sub-heading {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .sub-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.main-btn {
  width: 170px;
  height: 45px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}
.main-btn:hover {
  background-color: #d3ab55;
  color: #262626;
}
@media (max-width: 800px) {
  .main-btn {
    width: 150px;
    height: 35px;
    font-size: 12px;
  }
}

.card {
  width: 33.3333%;
  height: 35vh;
  position: relative;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 500px) {
  .card {
    width: 50%;
    height: auto;
  }
}
.card:hover .card-overlay {
  left: 0;
}
.card-img {
  object-fit: cover;
  opacity: 0.5;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(211, 171, 85, 0.6);
  color: #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: left 0.7s;
}
.card-overlay-heading {
  font-family: Nunito, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 30px;
}
@media (max-width: 900px) {
  .card-overlay-heading {
    font-size: 15px;
  }
}
.card-overlay-paragraph {
  font-family: Nunito, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 30px;
}
@media (max-width: 900px) {
  .card-overlay-paragraph {
    font-size: 12px;
  }
}
@media (max-width: 650px) {
  .card-overlay-paragraph {
    font-size: 10px;
  }
}
.card-overlay-btn {
  width: 150px;
  height: 40px;
  color: #d3ab55;
  background-color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #d3ab55;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}
@media (max-width: 900px) {
  .card-overlay-btn {
    font-size: 12px;
    width: 130px;
    height: 30px;
  }
}
@media (max-width: 650px) {
  .card-overlay-btn {
    font-size: 10px;
    width: 100px;
    height: 20px;
  }
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 300;
}
@media (max-width: 800px) {
  .hamburger-menu {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 500px) {
  .hamburger-menu {
    width: 25px;
    height: 25px;
  }
}
.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  transform-origin: right;
}
@media (max-width: 800px) {
  .hamburger-menu .menu-line {
    height: 3px;
  }
}
@media (max-width: 500px) {
  .hamburger-menu .menu-line {
    height: 2px;
  }
}
