extends ../layout

block main
  include ../basic/header
  section
    div(class='alerts')
      while message = flash.shift()
        a.alert(class='alert-' + message.type) #{message.message}
      form(action="/login" method="post")
        .row.gtr-uniform

          .col-12
            label(for="username") Username
            input#username(type="text", name="username" placeholder="Username" required)

          .col-12 
            label(for="password") Password
            input#password(type="password", name="password" placeholder="Password" required pattern="/.{8,}/" title="3 characters minimum")
          
          .col-12
            ul.actions
              li 
                input.primary(type="submit", value="Login")
              li.baseline
                a(href="/register" ) Don't have account?