* {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  max-width: 100%;
}

.header,
.footer {
  background-color: gray;
  color: white;
  padding: 15px;
}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

.menu {
  width: 25%;
}

.content {
  width: 75%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: teal;
}

.menu li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}

.menu li:hover {
  background-color: rgb(2, 90, 90);
}
