div + p {
  background-color: red;
}

div ~ p {
  border: 5px solid green;
}

a[target] {
  background-color: red;
}

a[target="_blank"] {
  background-color: purple;
}

a[class~="end"] {
  background-color: black;
}

a[class|="top"] {
  border: 1px solid pink;
}

a[class^="top"] {
  padding: 1rem;
  display: block;
}

a[class$="test"] {
  border-radius: 10px;
}

a[class*="a"] {
  background-color: salmon;
}
