section#banner
    h2=title
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit
    ul(class="actions special")
        li: a(href="#" class="button primary") Sign Up
        li: a(href="#" class="button") Learn More