mixin subMenu(opciones)
    a(href="#") Submenu
    ul
        each opc in opciones
            li: a(href=opc+".html") #{opc}


header#header( class="alt")
    h1 <a href="index.html">Alpha</a> by HTML5 UP
    nav#nav
        ul
            li: a(href="index.html") Home
            li
                a(href="#" class="icon solid fa-angle-down") Layouts
                ul
                    each val in ["generic", "Contact", "Elements"]
                        li: a(href=val+".html") #{val}
                    li
                        +subMenu(["Opcion 1","Opcion 2","Opcion 3"])
            li: a(href="#" class="button") Sign Up