div {
  margin: 1em;
  border: 5px solid green;
}

.relative {
  position: relative;
  top: 1px;
}

div.fixed {
  position: fixed;
  border: 5px solid red;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 20px;
  overflow: hidden;
  background-color: red;
  z-index: 2;
}

div.relative-size {
  height: 500px;
  width: 500px;
  position: relative;
}
div.absolute {
  position: absolute;

  top: 0;
  left: 0;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  border-color: blue;
  background-color: blue;
}
