.dropdown-btn{
    background-color: #333;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.subMenu {
    list-style-type: none;
    margin:0;
    padding: 0;
}

.subMenu li a{
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: #333;
}

.subMenu li a:hover {
    background-color: #333;
    color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.right {
    float: right
}

.dropdown.right .dropdown-content {
    right: 0;
}