* {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid red;
  background-color: #f1f1f1;
  color: black;
}

input[type="text"]:focus {
  border: none;
  border-bottom: 2px solid blue;
}

.search input[type="text"] {
  background-image: url("./img/baseline_search_white_24dp.png");
  background-position: 10px 12px;
  background-size: 15px;
  background-repeat: no-repeat;
  padding-left: 30px;
  width: 20%;
  min-width: 150px;
  transition: width 0.4s ease-in-out;
}

.search input[type="text"]:focus {
  width: 100%;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}


input[type=button],
input[type=submit],
input[type=reset] {
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    background-color: #333;
}


input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: rgb(27, 27, 27);
}