header#header
    div.logo
        span(class="icon fa-gem")
    .content
        .inner
            h1 Dimension
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus cupiditate vel nisi mollitia! Dolores, at? Numquam voluptates fuga odio hic ducimus dolorum. Pariatur cupiditate, sunt fuga velit commodi cum facilis!
    nav
       ul
        each val in ["Intro", "Work", "About", "Contact"]
            li: a(href="#" + val.toLowerCase()) #{val}
        