/*
0. Aplicar a todos los elementos el siguente estilo:
    0.1 Quitar marges
    0.2 Quitar padding
    0.3 Agregar fuente : 'Roboto', sans-serif;
1. Cambiar color de fondo a la barra de navegación con el valor #2d3436 y margen inferior del 2%.

2. Aplicar a la clase "logo-container"
    2.1. Vista en linea.
    2.2. Padding de 10px.

3. Aplicar a la etiqueta <ul> contenida en <nav>
    3.1. Vista en linea.
    3.2  Padding de 20px.
    3.3 Margen izquierdo del 5%.

4. Aplicar a las etiquetas <li> que se encuentran dentro de la etiqueta <ul> del literal anterior.
    4.1. Vista en linea.

5. Aplicar a todas las etiquetas <a> dentro de cada <li> de la barra de navegación.
    5.1 Padding de 20px.
    5.2 Color de letra blanco.
    5.3 font-weight en bold.
    5.2 Sin decoración en el texto.

6. Aplicar al id main.
    6.1 Margen izquierdo y derecho del 10%.

7. Aplicar a los articulos margen general de 12px.

8. Aplicar a la imagen dentro de la etiqueta <figure> un ancho del 100%.

9. Aplicar a todas las etiquetas <figcaption>.
    9.1 Margen izquierdo de 10px.
    9.2 Tamaño de fuente de 0.9rem.

10. Aplicar a todos los enlaces.
    10.1 Color de texto con el valor de #0984e3.
    10.2 font-weight en bold.
    10.3 Sin decoracion en el texto.

11. Aplicar a la etiqueta <figure>.
    11.1 Margen superior e inferior de 7px.

12. Aplicar al footer.
    12.1 Color de fondo #2d3436.
    12.2 Paddin de 20px.
    12.3 Color de texto blanco.

13. Aplicar a las etiquetas <label> vista en bloque y padding inferior y superior de 3px.

14. Aplicar a la case section-footer.
    14.1 Vista en linea.
    14.2 Margen derecho e izquierdo de 15%.

15. Quitar borde de etiqueta fieldset.

16. Aplicar a la clase input-group un padding general de 7px.

17. Aplicar a los input de tipo email.
    17.1 Padding 7px.
    17.2 Quitar los bordes.
    17.3 Agregar radio en los bordes de 4px.

18. Aplicar al boton submit:
    18.1 Un padding superior e inferior de 6px.
    18.2 Quitar bordes.
    18.3 Cambiar color de fondo a #d35400.
    18.4 Cambiar color de texto a blanco.
    18.5 Font-weight: bold.
    18.6 Agregar radio de borde de 4px.
    18.7 Un tamaño de  letra de 1rem.
    18.8 Un padding derecho e izquierdo de 10px.

19. Aplicar a todos los span dentro de las etiquetas label color de texto #d35400.

*/