/* Element selectors */
:root{
    box-sizing: border-box;
    font-size: calc(0.7em + 0.4vw);

    color: #2e2e2e;
}

*, ::before, ::after {
    box-sizing: inherit; 
}

body{
    margin-left: 10%;
    margin-right: 10%;
}

nav li{
    list-style: none ;
}

section{
    margin-bottom: 30px;
}

h1{
    border-left: 5px solid #2980b9;
    background-color: #297fb91a;
    padding: 5px; 
}

h2{
    border-bottom: 1px solid black;
}

h3{
    font-style: italic;
}

p{
    text-align: justify;
    text-indent: 30px;
}

li{
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
}

code{
    color: #2c3e50;
    font-size: 1.2em;
}

a:link{
    text-decoration: none;
    color: #2980b9;
}

a:visited{
    color: #9b59b6;
    text-decoration: none;
}

a:hover{
    background-color: #297fb91a;
    text-decoration: underline;
    color: #2980b9;
}

a:active{
    background-color: #297fb91a;
    text-decoration: none;
    color: #2c3e50;
}

footer{
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Class selectors */

.myCode{
    display: block;
    text-align: center;
    color: #e74c3c;
    font-size: 2em;
}

/* Id selectors */

#CodeUnq{
    color:#27ae60;
}

#HomeBtn:link{
    position: fixed;
    top: 90%;
    right: 1%;
    z-index: 100;
    padding: 15px;
    background: #297fb91a;
    color: #2c3e50;
    border: 2px solid #2c3e50;
    border-radius: 10px;
}

#HomeBtn:visited{
    background: #297fb91a;
    color: #2c3e50;
    border: 2px solid #2c3e50;
}

#HomeBtn:hover{
    background: #2c3e50;
    text-decoration: none;
    color: white;
    border: 2px solid #2c3e50;
}