.flex-container div {
  border: 1px solid black;
  /*flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px; */
  flex: 1 0 100px;
}

.flex-container {
  border: 1px solid red;
  display: flex;
  /*flex-direction: row;*/
  height: 50vh;
  /*flex-wrap: wrap-reverse;*/
  flex-flow: row wrap;

  justify-content: space-evenly;
  align-items: baseline;
  align-content: space-around;
}

.flex-container div:nth-child(1) {
  order: 1;
  flex-grow: 1;
  height: 100px;
  text-align: bottom;
}
/*
.flex-container div:nth-child(3) {
    order: 2;
    flex-grow: 1;
}

.flex-container div:nth-child(5) {
    order: -1;
    flex-grow: 2;
    flex-shrink: 1;
}*/
