extends layout

block content
    form(method ="post")
        if error.bad 
            div#error #{error.msg}
        label(for="user") User 
        input#user(type="text", name="user" , required, placeholder="Jhon")
        br
        label(for="user") Password
        input#password(type="password" name="password", required, placeholder="password")
        br
        input(type="submit" value="Log In")