#main
    each val in ["Intro", "Work", "About", "Contact"]
        article(id=val.toLowerCase())
            h2 #{val}
            span(class="image main"): img(src="images/pic01.jpg", alt="")
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error repellat perspiciatis illum vero maxime perferendis quas rem eum? In amet quaerat facere veritatis quibusdam rem debitis. Architecto, esse? Accusantium.