.main-heading {
  font-family: $font-dancingScript;
  font-size: 100px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 30px;
  text-align: center;

  @media (max-width: 1600px) {
    font-size: 80px;
  }

  @media (max-width: 1000px) {
    font-size: 60px;
  }

  @media (max-width: 500px) {
    font-size: 50px;
    margin-bottom: 15px;
  }
}

.sub-heading {
  font-family: $font-josefinSans;
  font-size: 60px;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 80px;
  text-align: center;

  @media (max-width: 1600px) {
    font-size: 50px;
    margin-bottom: 50px;
  }

  @media (max-width: 1300px) {
    font-size: 40px;
    margin-bottom: 30px;
  }

  @media (max-width: 1000px) {
    font-size: 30px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
