:root{
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

p{
    text-align: justify;
}

code{
    font-size: 1.5em;
    
    display: block;
    margin: 0.5em 2em;

    color: #2c2c54;
}

article{
    margin: 2em 0;
}

section{
    margin-bottom: 5em;
}

li{
    text-align: justify;
    margin: 1.5em 0;
}

/* Estilo del titulo */

.title-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5em;
}

.title-content div h1{
    margin-bottom:0;
}

.title-content div h5{
    margin-top: 0;
}

.paralax-container{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.content{
    margin-left:20%;
    margin-right: 20%; 
}

figure img{
    width: 30%;
}

figcaption{
    font-style: italic;
}

/* Front image */

header#front-img{
    width: 100%;
    height: 100vh;

    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url("../img/intro.jpg");
}

#front-img .main-front{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    color: #fff;
    text-align: center;

    background: rgba(0,0,0,0.5);
}

.main-front h1{
    font-size: 5em;
    margin: 0.2em 0;
}

#down-button{
    padding: 1em;

    border-radius: 100%;
    cursor: pointer;

    color: #fff;
    font-size: 1.5em;

    transition: 500ms ease all;
}

#down-button:hover{
    background: rgba(255, 237, 79, 0.39);
}

/* Nav en la esquina */

nav{
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 100;
    top: 0;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li{
    display: flex;
    justify-content: space-between; 
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -100%;
    width: 100%;
    color:#fff;
    padding: 1.2em 1.2em 1.2em 2.5em;
    transition: 500ms ease all;
}

nav ul li:hover{ 
    margin-left:0%;
}

nav ul li>i{ 
    transition: 1000ms ease all;
}

nav ul li:hover>i{ 
    opacity: 0;
}

nav ul li a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
}

nav ul li:first-child, nav li:nth-child(4){
    background: #192a56;
}

nav ul li:nth-child(2), nav li:nth-child(5){
    background: #c23616;
}

nav ul li:nth-child(3), nav li:nth-child(6){
    background: #0097e6;
}

/* Estilos particulares de maquetacion */

.tip{
    margin: 0 2em;
    padding: 0.5em 2em;
    border: 0.2em solid #c23616;
}

.tip h3{
    color: #c23616;
}

.tip ul{
    list-style: none;
}

.tip .list{
    list-style: circle;
    font-size: 1em;
}

.tip .list>li{
    font-size: 1em;
}

.tip li{
    margin: 0.5em 0;
    font-size: 1.2em;
}

.tip .rt{
    color: #c44569;
}

.tip .arch{
    color: #227093;
}

.tip .dir{
    color: #303952;
}

.tip .good{
    padding: 0.5em 2em;
    border-left: 2em solid #3ae374;
    background: #3ae37550; 
}

.tip .wrong{
    padding: 0.5em 2em;
    border-left: 2em solid #ff3838;
    background: #ff383850; 
}

/* Bloque de sentencias */

div.sentences-container{
    display: grid;
    margin: 2em 5em;
    grid-template-columns: 1fr 1fr;
    border: 0.2em solid #c23616;
}

div.sentences-container div{
    display: flex;
    height: 10em;
    align-items: center;
    justify-content: center;
}

div.sentences-container div>p{
    width: 50%;
    margin: auto 0;
    color: #192a56;
    font-size: 1.3em;
    font-family: monospace; 
}

/* Footer */

footer{
    padding: 3em 0;
    background: #bdc3c7;
}

/* Home button */

#HomeBtn{
    visibility: hidden;
    position: fixed;
    bottom: 1.2em;
    right: 1.2em;
    z-index: 100;
    padding: 1em 1.15em;

    background: rgba(255, 255, 255, 0.6);
    color: #2c3e50;
    border: 0.15em solid #2c3e50;
    border-radius: 100%;
    
    cursor: pointer;

    transition: 500ms ease all;
}

#HomeBtn:hover{
    background: #2c3e50;
    text-decoration: none;
    color: white;
    border: 0.15em solid #2c3e50;
}