.about-us {
  height: 90vh;
  display: flex;
  align-items: center;

  @media (max-width: 900px) {
    min-height: 70vh;
    height: auto;
    padding: 1rem 0;
  }

  &-left {
    width: 40%;
    position: relative;
    left: -200px;

    @media (max-width: 1300px) {
      left: -150px;
    }

    @media (max-width: 800px) {
      display: none;
    }

    img {
      width: 100%;
      opacity: 0.7;
    }
  }

  &-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;

    @media (max-width: 1300px) {
      padding: 0 50px;
    }

    @media (max-width: 800px) {
      width: 100%;
    }

    .starts {
      margin: 30px 0;

      @media (max-width: 1000px) {
        margin: 15px 0;
      }
    }

    .star {
      font-size: 15px;
      color: $color-primary;
      margin-left: 10px;

      @media (max-width: 1000px) {
        margin: 12px 0;
      }
    }

    .description {
      font-family: $font-josefinSans;
      font-size: 25px;
      color: $color-secondary;
      text-align: justify;

      &::first-letter {
        padding-left: 1rem;
      }

      @media (max-width: 1600px) {
        font-size: 18px;
      }

      @media (max-width: 1000px) {
        font-size: 14px;
      }
    }
  }
}
