// vars
$min_width: 320px;
$max_width: 1900px;
$min_font: 16px;
$max_font: 24px;

// Colors
$color-dark: #262626;
$color-black: #000;
$color-primary: #d3ab55;
$color-secondary: #bbb;
$color-white: #fff;

// fonts
$font-dancingScript: 'Dancing Script', cursive;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: Nunito, sans-serif;

%fullSpace {
  width: 100%;
  height: 100%;
}

:root {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: $color-dark;
  @include fluid-type($min-width, $max-width, $min_font, $max-font);
}
