*{
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    padding: 0;
}

#indicaciones{
    display: inline-block;
    margin: 20px 20%;
}

img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}