/** SOUCION ESPERADA */

/***************************************************
 ** Sin modificar el HTML dado, aplique todas las **
 ** reglas solicitadas                            **
 ***************************************************/

 /* Para body defina el color de fondo como #adadad*/
 body {
     background-color: #adadad; 
 }

 /* Haga que la primera letra de cada parrafo 
 tenga tamaño de fuente 1.2em */

 p::first-letter {
     font-size: 1.5em;
     color: green;
 }

 /* Para todos los elementos de la clase .mw-headline defina el color de texto como morado */
.mw-headline{
   color: purple;
 }
 
 /* Haga que todas las etiquetas de cabecera tenga un border
 inferior negro de 1px ademas de un padding inferior de 10px */

 h1,h2,h3,h4,h5,h6 {
     padding-bottom: 10px;
     border-bottom: 1px solid black;
 }

 /* Haga que todos los h3 tengan un margin izquierdo y derecho de 10px */
 h3 {
     margin:0 10px;
 }

 /* Ponga un border morado (user rgb) a todas
 las etiquetas pre de 4px solido */

 pre {
     border: 1px solid rgb(162, 0, 255);
 }

 /* Cambie el tamaño de fuente (1.1em) de todos los parrafos
 que esten junto a un h3, además el texto debe ser color
 blanco*/

 h3 + p {
     font-size: 1.2em;
     color: white;
 }

 /* A todos la tablas aplique un color de fondo blanco
 asigne un ancho del 100% y aplique la propiedad border-collapse: collapse;*/
 table {
     background-color: white;
     width: 100%;
     border-collapse: collapse;
 }

/* Haga que las celdas de titulo y celdas normales el texto
se alinea a la izquierda y aplique un relleno de 10px*/
th, td {
    text-align: left;
    padding: 8px;
}

/* Haga que solamente las filas par tenga color de fondo #f2f2f2*/
tr:nth-child(even) {
    background-color: #f2f2f2
}

/*A la cabecera de la tabla asigne un tono de morado utilizando hsl como color de fondo
y el color blanco para el texto*/
th {
    background-color: hsl(249, 84%, 49%);
    color: white;
}

/* Haga que todos los enlaces dentro de un tabla hereden el color de texto 
de su elemento padre y que no tengan decoracion*/

table a {
    text-decoration: none;
    color: inherit;
}

/* Todos los enlaces dentro de una tabla al tener el mouse sobre
deben de ser de color #607d8b */

table a:hover {
    color: #607d8b;
}

/*Haga que el elemnto footer tenga un alto minimo de 100px y alto de 150px
con color de fondo negro, letra blanca y relleno de 10 px*/
footer {
    background: black;
    color: white;
    min-height: 100px;
    height: 150px;
    padding: 10px;
}