.card {
  width: 33.3333%;
  height: 35vh;
  position: relative;
  overflow: hidden;
  text-align: center;

  @media (max-width: 500px) {
    width: 50%;
    height: auto;
  }

  &:hover .card-overlay {
    left: 0;
  }

  &-img {
    @extend %fullSpace;
    object-fit: cover;
    opacity: 0.5;
  }

  &-overlay {
    @extend %fullSpace;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba($color-primary, 0.6);
    color: $color-white;
    z-index: 10;
    @include flexLayout;
    flex-direction: column;
    transition: left 0.7s;

    &-heading {
      font-family: $font-nunito;
      @include textStyle(capitalize);
      font-size: 30px;

      @media (max-width: 900px) {
        font-size: 15px;
      }
    }

    &-paragraph {
      font-family: $font-nunito;
      @include textStyle(capitalize);
      font-size: 16px;
      margin-bottom: 30px;

      @media (max-width: 900px) {
        font-size: 12px;
      }

      @media (max-width: 650px) {
        font-size: 10px;
      }
    }

    &-btn {
      width: 150px;
      height: 40px;
      color: $color-primary;
      background-color: $color-white;
      font-family: $font-josefinSans;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid $color-primary;
      border-radius: 30px;
      outline: none;
      cursor: pointer;

      @media (max-width: 900px) {
        font-size: 12px;
        width: 130px;
        height: 30px;
      }

      @media (max-width: 650px) {
        font-size: 10px;
        width: 100px;
        height: 20px;
      }
    }
  }
}
