.footer {
  padding: 70px 0;
  @include flexLayout;
  flex-direction: column;

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }

  .social-media {
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin-bottom: 70px;

    &-item {
      list-style: none;
    }

    &-link {
      text-decoration: none;
      font-size: 50px;
      color: $color-secondary;
      transition: color 0.7s;

      &:hover {
        color: $color-primary;
      }

      @media (max-width: 1000px) {
        font-size: 35px;
      }
    }
  }

  &-copyright-paragraph {
    font-family: $font-josefinSans;
    font-size: 18px;
    color: $color-secondary;
    @include textStyle(capitalize);
    text-align: center;

    @media (max-width: 800px) {
      width: 70%;
      margin: auto;
    }
  }
}
