.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background:
    linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)),
    url('../images/bg.jpeg') center no-repeat;
  background-size: cover;

  .brand {
    @include centering(15%);
    color: $color-white;
    display: flex;
    align-items: center;
  }

  &-banner {
    text-align: center;
    @include centering(50%);
  }
}
