* {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu > ul {
    background-color: #333;
}

.menu > ul li {
    float: left;
}

.menu ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: red;
}

.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu .dropdown-content li {
    display: block;
    clear: both;
    width: 100%;
}

.menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.menu .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.menu .dropdown:hover .dropdown-content {
    display: block;
}