.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 300;

  .menu {
    @extend %fullSpace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.5s;

    &-line {
      width: 100%;
      height: 4px;
      background-color: $color-primary;
      transform-origin: right;
    }
  }
}