<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Stylesheets references -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/highlight_styles/tomorrow-night-bright.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" 
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        
    <link rel="icon" href="../assets/images/icons/web.png">
    
    <title>Titulo</title>
</head>

<body id="id_body">

    <!-- Eductional basic information -->
    <p class="subject">
        Universidad Centroamericana "José Simeón Cañas".<br>
        Programación Web.<br>
        Ciclo 02/19.
    </p>

    <!-- Front image -->
    <header id="front-img" style="background-image: url('../assets/images/main/template.png');">
        <div class="blackManta">
            <!-- Float menu implementation -->
            <div class="float-menu">
                <div class="menu-content">
                    <i class="fas fa-bars"></i>
                </div>
                <nav class="menu-side">
                    <div></div>
                    <ul>
                        <li><a href="#Simple">Parrafos simples</a><i class="fab fa-node-js"></i></li>
                        <li><a href="#Double">Dos columnas</a><i class="fas fa-external-link-alt"></i></li>
                        <li><a href="#Triple">Tres columnas</a><i class="fas fa-exchange-alt"></i></li>
                        <li><a href="#Four">Cuatro columnas</a><i class="fas fa-dumbbell"></i></li>
                        <li><a href="#Tips">Tips</a><i class="fas fa-dumbbell"></i></li>
                        <li><a href="#Code">Codigos</a><i class="fas fa-dumbbell"></i></li>
                        <li><a href="#Images">Imagenes</a><i class="fas fa-dumbbell"></i></li>
                    </ul>
                </nav>
            </div>
            <div class="main-front">
                <h1>Laboratorio XX.</h1>
                <h3>Lunes, 11 de Febrero de 2019.</h3>
                <div class="grid-div two-columns frontList">
                    <!-- Two-columns item -->
                    <div class="article-body">
                        <h4>Temario:</h4>
                        <ul>
                            <li>
                                Tema 1
                            </li>
                            <li>
                                Tema 2
                            </li>
                            <li>
                                Tema 3
                            </li>
                            <li>
                                Tema 4
                            </li>
                        </ul>
                    </div>
                    <div class="article-body">
                        <h4>Objetivos:</h4>
                        <ul>
                            <li>
                                Objetivo 1
                            </li>
                            <li>
                                Objetivo 2
                            </li>
                            <li>
                                Objetivo 3
                            </li>
                            <li>
                                Objetivo 4
                            </li>
                        </ul>
                    </div>
                </div>
                <i class="fas fa-chevron-down" id="down-button"></i>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <article class="content">
        <!-- Main title -->
        <header class="title-content" id="title-content">
            <div id="brand">
                <h1>Titulo principal.</h1>
            </div>
            <div id="content-brand">
                <h5>Subtitulo.</h5>
            </div>
        </header>

        <!-- Sections method -->
        <section id="Simple">
            <!-- Sections Titles -->
            <h2>
                Parrafos simples.
            </h2>
            <!-- Single paragraphs -->
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore molestias fuga, corporis voluptate animi, placeat neque, cum architecto quae ratione enim rem atque sunt quasi aliquid eveniet error inventore odit.Distinctio, voluptatem iusto, libero hic laudantium quisquam, amet similique odit alias aliquid rerum aperiam. Accusamus laborum repellendus tempore facere deserunt magnam veniam delectus ex nemo quasi, molestiae aut possimus tempora?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, incidunt hic tenetur possimus cupiditate reiciendis eveniet consectetur aliquid neque itaque ipsam. Ipsam soluta deserunt, laborum iure at optio laboriosam nostrum?Facere soluta id nisi, dolorem porro iusto quod non accusantium labore blanditiis numquam eveniet beatae totam maxime culpa nobis nam aliquid voluptate. Rem ab eius autem porro laudantium quisquam molestias.
            </p>
        </section>

        <section id="Double">
            <h2> A dos columnas. </h2>

            <!-- Simple indentation -->
            <div class="article-body">
                <!-- Subtitles -->
                <h3> Subtitulo: </h3>
                <!-- Two-columns structure -->
                <div class="grid-div two-columns">
                    <!-- Two-columns item -->
                    <div class="article-body">
                        <h4>Item 1:</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut esse voluptas. Dolor suscipit fuga corrupti nobis, sapiente minus quibusdam aperiam magni corporis! Perferendis ut quibusdam possimus ipsa, quam inventore!Totam consequatur est sunt omnis! Ipsam beatae minus earum porro voluptas quibusdam dicta provident voluptatem molestias inventore repellat itaque tempore nostrum, debitis soluta! Est aliquam labore nisi? Repellendus, inventore voluptas.
                        </p>
                    </div>
                    <div class="article-body">
                        <h4>Item 2:</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut esse voluptas. Dolor suscipit fuga corrupti nobis, sapiente minus quibusdam aperiam magni corporis! Perferendis ut quibusdam possimus ipsa, quam inventore!Totam consequatur est sunt omnis! Ipsam beatae minus earum porro voluptas quibusdam dicta provident voluptatem molestias inventore repellat itaque tempore nostrum, debitis soluta! Est aliquam labore nisi? Repellendus, inventore voluptas.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="Triple">
            <h2>A tres columnas:</h2>
            <div class="article-body">
                <h3> Subtitulo: </h3>
                <!-- Three-columns structure -->
                <div class="grid-div three-columns">
                    <div class="article-body">
                        <h4>Item 1:</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut esse voluptas. Dolor suscipit fuga corrupti nobis, sapiente minus quibusdam aperiam magni corporis! Perferendis ut quibusdam possimus ipsa, quam inventore!Totam consequatur est sunt omnis! Ipsam beatae minus earum porro voluptas quibusdam dicta provident voluptatem molestias inventore repellat itaque tempore nostrum, debitis soluta! Est aliquam labore nisi? Repellendus, inventore voluptas.
                        </p>
                    </div>
                    <div class="article-body">
                        <h4>Item 2:</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut esse voluptas. Dolor suscipit fuga corrupti nobis, sapiente minus quibusdam aperiam magni corporis! Perferendis ut quibusdam possimus ipsa, quam inventore!Totam consequatur est sunt omnis! Ipsam beatae minus earum porro voluptas quibusdam dicta provident voluptatem molestias inventore repellat itaque tempore nostrum, debitis soluta! Est aliquam labore nisi? Repellendus, inventore voluptas.
                        </p>
                    </div>
                    <div class="article-body">
                        <h4>Item 3:</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut esse voluptas. Dolor suscipit fuga corrupti nobis, sapiente minus quibusdam aperiam magni corporis! Perferendis ut quibusdam possimus ipsa, quam inventore!Totam consequatur est sunt omnis! Ipsam beatae minus earum porro voluptas quibusdam dicta provident voluptatem molestias inventore repellat itaque tempore nostrum, debitis soluta! Est aliquam labore nisi? Repellendus, inventore voluptas.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="Four">
            <h2>A cuatro columnas:</h2>
            <div class="article-body">
                <h3> Subtitulo: </h3>
                <!-- four-columns structure -->
                <div class="grid-div four-columns">
                    <div class="article-body">
                        <h4>Item 1:</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut esse voluptas. Dolor suscipit fuga corrupti nobis, sapiente minus quibusdam aperiam magni corporis! Perferendis ut quibusdam possimus ipsa, quam inventore!Totam consequatur est sunt omnis! Ipsam beatae minus earum porro voluptas quibusdam dicta provident voluptatem molestias inventore repellat itaque tempore nostrum, debitis soluta! Est aliquam labore nisi? Repellendus, inventore voluptas.
                        </p>
                    </div>
                    <div class="article-body">
                        <h4>Item 2:</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut esse voluptas. Dolor suscipit fuga corrupti nobis, sapiente minus quibusdam aperiam magni corporis! Perferendis ut quibusdam possimus ipsa, quam inventore!Totam consequatur est sunt omnis! Ipsam beatae minus earum porro voluptas quibusdam dicta provident voluptatem molestias inventore repellat itaque tempore nostrum, debitis soluta! Est aliquam labore nisi? Repellendus, inventore voluptas.
                        </p>
                    </div>
                    <div class="article-body">
                        <h4>Item 3:</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut esse voluptas. Dolor suscipit fuga corrupti nobis, sapiente minus quibusdam aperiam magni corporis! Perferendis ut quibusdam possimus ipsa, quam inventore!Totam consequatur est sunt omnis! Ipsam beatae minus earum porro voluptas quibusdam dicta provident voluptatem molestias inventore repellat itaque tempore nostrum, debitis soluta! Est aliquam labore nisi? Repellendus, inventore voluptas.
                        </p>
                    </div>
                    <div class="article-body">
                        <h4>Item 4:</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ut esse voluptas. Dolor suscipit fuga corrupti nobis, sapiente minus quibusdam aperiam magni corporis! Perferendis ut quibusdam possimus ipsa, quam inventore!Totam consequatur est sunt omnis! Ipsam beatae minus earum porro voluptas quibusdam dicta provident voluptatem molestias inventore repellat itaque tempore nostrum, debitis soluta! Est aliquam labore nisi? Repellendus, inventore voluptas.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="Tips">
            <h2>Sección de tips</h2>
            <!-- Tip structure -->
            <div class="tip">
                <h3>Título del tip.</h3>
                <!-- Links -->
                <p>
                    Enlace: <a href="http://dei.uca.edu.sv/">Departamento de electrónica e informática.</a>
                </p>
                <!-- Wrong/Good tips -->
                <div class="good">
                    <ul>
                        <li>Good one.</li>
                        <li>Good one.</li>
                        <li>Good one.</li>
                        <li>Good one.</li>
                    </ul>
                </div>
                <div class="wrong">
                    <ul>
                        <li>Wrong one.</li>
                        <li>Wrong one.</li>
                        <li>Wrong one.</li>
                        <li>Wrong one.</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="Code">
            <h2>Sección de códigos</h2>
            
            <p>
                Referencia de Highlight: <a href="https://highlightjs.readthedocs.io/en/latest/css-classes-reference.html#language-names-and-aliases">Códigos de lenguajes.</a>
            </p>

            <article class="article-body">
                <h3>Texto plano:</h3>
                <pre><code>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui facere molestiae eius reiciendis numquam possimus sint velit, harum inventore expedita dolorem accusamus tenetur officiis eligendi aliquam, totam sed quisquam exercitationem.Cumque commodi possimus sapiente, eveniet quaerat deserunt. Voluptatum exercitationem rerum corrupti distinctio qui aliquid quod itaque nobis, incidunt quis dolorum, mollitia est assumenda. Unde adipisci architecto tempora iusto accusantium nam?
                </code></pre>

                <h3>Java: </h3>
                <pre><code class="java">
                        public class HelloWorld {
    
                            public static void main(String[] args) {
                                // Prints "Hello, World" to the terminal window.
                                System.out.println("Hello, World");
                            }
                        
                        }
                </code></pre>

                <h3>XML: </h3>
                <p>
                    Enlace: <a href="https://www.freeformatter.com/html-escape.html">Interpretar caracteres especiales en HTML/XML.</a>
                </p>
                <pre><code class="xml">
                    &lt;?xml version="1.0" encoding="utf-8"?&gt;
                    &lt;LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
                                    android:layout_width="match_parent"
                                    android:layout_height="match_parent"
                                    android:orientation="vertical" &gt;
                        &lt;TextView android:id="@+id/text"
                                    android:layout_width="wrap_content"
                                    android:layout_height="wrap_content"
                                    android:text="Hello, I am a TextView" /&gt;
                        &lt;Button android:id="@+id/button"
                                android:layout_width="wrap_content"
                                android:layout_height="wrap_content"
                                android:text="Hello, I am a Button" /&gt;
                    &lt;/LinearLayout&gt;
                </code></pre>
            </article>
        </section>

        <section id="Images">
            <h2>Imagenes.</h2>

            <!-- Image structure -->
            <figure>
                <img src="../assets/images/template/SDK_image.jpg" alt="Figure Alt text">
            </figure>
        </section>
    </article>

    <!-- Footer Implementation -->
    <footer>
        <article>
            <p><em>
                “Siempre parece imposible hasta que se hace”
            </em></p>
            
            <p id="author">
                Nelson Mandela.
            </p>
        </article>
    </footer>

    <!-- Home Button -->
    <span id="HomeBtn"><i class="fas fa-chevron-up"></i></span>
</body>

<!-- JS scripts area -->
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="../assets/js/javaScript.js"></script>
<script src="../assets/js/highlight.pack.js"></script>
<script>
    hljs.initHighlightingOnLoad();
    sideMenuControl();
    homeBtnControl();
</script>

</html>