table {
  border-collapse: collapse;
  width: 100%;
}

/*table, th, td {
    border: 1px solid black
}*/

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: solid 1px black;
}

tr:nth-child(even) {
  background-color: #504f4f;
}

tr:hover {
  background-color: rgb(235, 129, 129);
}

th {
  background-color: teal;
  color: white;
}

tfoot {
  background-color: rgb(62, 146, 146);
}
